* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info {
    height: 100vh;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

