* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(236, 173, 0);
  --thertiary-color: rgb(255, 255, 255);
  --accent-color: rgb(194, 23, 23);
}

@font-face {
  font-family: "BeaufortforLOL";
  src: url("fonts/BeaufortforLOL-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpiegelSans";
  src: url("fonts/SpiegelSans-5Regular_TRIAL.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#hero {
  font-family: BeaufortforLOL, sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.76);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero p {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

#info {
  height: 100vh;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
  filter: brightness(0.4);
}

.cookieModal {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease;
  /* El resto de tus estilos... */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  font-family: SpiegelSans, sans-serif;
  color: white;
  padding: 30px 40px 40px 20px;
  border-top: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.cookieModal.show {
  display: flex;
  opacity: 1;
}

.modalContent {
  display: flex;
  align-items: center;
  gap: 5%;
}

#muchoTexto {
  width: 75%;
}

#muchoTexto a:link {
  color: white;
}

#muchoTexto a:visited {
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;
}

#cookieRejectMessage {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.buttons button {
  background-color: rgb(194, 23, 23);
  color: var(--thertiary-color);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
}

.buttons button:hover {
  transition: ease-in-out 0.2s;
  background-color: var(--thertiary-color);
  color: var(--primary-color);
}

#toHell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BeaufortforLOL, sans-serif;
  letter-spacing: 1.5px;
  text-shadow: none;
  font-size: 1.1rem;
  width: 200px;
  height: 70px;
  padding: 20px;
  background-color: rgb(10, 10, 10);
  border: 3px inset;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29) 1;
}

#toHell a:link {
  text-decoration: none;
  color: white;
}

#toHell a:visited {
  color: white;
}

#toHell:hover {
  text-shadow: 0 0 5px #fff384;
  box-shadow: 0 0 12px 0 #ffd95de3;
  background: rgb(29, 29, 29);
  transition: ease-in-out 0.2s;
  border-image: linear-gradient(to bottom, #fcdc9b, #c79948) 1;
  cursor: pointer;
}

/* HAMBURGUER MENU */
.off-screen-menu {
  background-color: rgb(29, 29, 29);
  height: 75px;
  width: 100vw;
  position: fixed;
  top: -450px;
  left: 0;
  transition: 0.3s ease;
  border-bottom: 2px inset;
  border-image: linear-gradient(to right, #c8aa6d, #7a5c29) 1;
}

.off-screen-menu ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.off-screen-menu li {
  list-style: none;
  padding: 15px;
  font-family: SpiegelSans, sans-serif;
  font-size: 1.3rem;
}

.off-screen-menu a {
  text-decoration: none;
  color: var(--thertiary-color);
  font-family: SpiegelSans, sans-serif;
}

.off-screen-menu a:hover {
  transition: 0.3s ease;
  color: var(--secondary-color);
}

.off-screen-menu.active {
  top: 0;
}

nav {
  position: fixed;
  padding: 1rem;
  display: flex;
}

.ham-menu {
  top: 0;
  height: 45px;
  width: 34px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #c99b4b, #dfb46b, #c48b28, #cf9125bb);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu:hover span {
  box-shadow: 0 0 5px #f5be61;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span {
  background-color: var(--secondary-color);
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
